<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>
    <a href="Index.html"><div class='grand'><img src="../static/images/conf.png"></div></a>
     <div class="topnav">
          <a href="Index.html">Home</a>
          <a href="Login.html">Login</a>
          <a href="Register.html">Register</a>
      </div>
      
     
      
      <div class="main">
          <h1>Welcome to <strong>The Reader's Paradise</strong></h1>
          <h2 >We bring your books together</h2>
          
          <h3 >Most Popular Books of the Week </h3>
            <div class='icon'><img src="../static/images/b1.jpg"></div>
            <div class='icon'><img src="../static/images/b2.jpg"></div>
            <div class='icon'><img src="../static/images/b3.jpg"></div>
            <div class='icon'><img src="../static/images/b4.jpg"></div>
      </div>
      <div class="copyright">
        <p>Copyright 2021</p> 
        <a href="https://www.facebook.com"> <img src="../static/images/fb.png" /></a> 
        <a href="https://www.instagram.com"><img src="../static/images/insta.png" /></a>
      </div>

  </body>
  
</html>
