<!DOCTYPE html>
<html>
      <head>
          <meta charset="utf-8">
          <title>Registration</title>
          <link rel="stylesheet" href="../static/main.css" />
      </head>

  <body>

    <a href="Index.html"><div class='grand'><img src="../static/images/conf.png"></div></a>

        <div class="topnav">
          <a href="Index.html">Home</a>
          <a href="Login.html">Login</a>
          <a href="Register.html">Register</a>
        </div>

        

        <div class='form'>
          <h1 class="golden">Enter details to register  </h1>
        
          <form action="/Success.html" method="POST">
        
          <label class="label" for="username" >Username:</label><br />
          <input class="input" type="text" name="registerusername" placeholder= "Choose your Username"  /> <br/>
          
          <label class="label" for="password">Password:</label><br />
          <input class="input" type="password" name="registerpassword" placeholder="Choose your password"   /><br/>
          
          <input name="save" type="submit" value="Register"class="save" />
        
          </form>
        </div>

        <div class="copyright">
          <p>Copyright 2021</p> 
          <a href="https://www.facebook.com"> <img src="../static/images/fb.png" /></a> 
          <a href="https://www.instagram.com"><img src="../static/images/insta.png" /></a>
        </div>
        
  </body>
</html>