<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="../static/main3.css" />
  </head>
  <body>

      <div class="topnav">
        <a href="Index.html">Log Out</a>
      </div>
      

  
        
   
      <table class="products-container"><!-- table headings --->
        <th colspan="6">SHOPPING CART</th>
          <tr class="product-header" style=" width: 200%;">
              <th class="cartproduct" >PRODUCT</th>
              <th class="carttitle">TITLE</th>
              <th class="cartprice">PRICE</th>
              <th class="cartquantity">QUANTITY</th>
              <th class="carttotal">TOTAL</th>
          </tr>
        <table>    
          <div class="products">
          </div>
        </table>
      </table>
     
      <br><br><br><br><br><br><br><br>
       <table>
        <tr>
          <th colspan="4">PRODUCTS</th>
          </tr>
        <tr>
         <td><img src="../static/images/b1.jpg" alt=""></td> 
         <td><strong>THE ALCHEMIST PAULO COELHO</strong></td> 
         <td> <small class="price">$25</small></td> 
         <td><a class="add-cart cart1"  href="#" onClick="window.location.reload()">Add-to-cart</a></td>   
        </tr>

        <tr>
          <td> <img src="../static/images/b2.jpg" alt=""></td>
          <td><strong>ONLY LOVE IS REAL</strong></td>
          <td> <small class="price">$22</small></td>
          <td> <a class="add-cart cart2"  href="#" onClick="window.location.reload()">Add-to-cart</a></td>
        </tr>

          <tr>
          <td> <img src="../static/images/b3.jpg" alt=""></td>
          <td><strong>HARRY POTTER and the philosopher's Stone</strong></td>
          <td><small class="price">$30</small></td>
          <td> <a class="add-cart cart3"  href="#" onClick="window.location.reload()">Add-to-cart</a></td>
            </tr>

          <tr>
          <td><img src="../static/images/b4.jpg" alt=""></td>
          <td>  <strong>LOOKING FOR ALASKA</strong></td>  
          <td><small class="price">$20</small></td>     
          <td> <a class="add-cart cart4" href="#" onClick="window.location.reload()" >Add-to-cart</a></td>  
 </tr>
 </table>




<div class="copyright">
  <p>Copyright 2021</p> 
  <a href="https://www.facebook.com"> <img src="../static/images/fb.png" /></a> 
  <a href="https://www.instagram.com"><img src="../static/images/insta.png" /></a>
</div>

  </body>

  
</html>
<script type="text/javascript" src="../static/main.js"></script>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
