<!DOCTYPE html>
<html>
  <head>
    <title>RegisterSuccess</title>
    <link rel="stylesheet" href="../static/main.css" />
  </head>
  <body>

    <div class="topnav">
      <a href="Index.html">Home</a>
      <a href="Login.html">Login</a>
      <a href="Register.html">Register</a>
    </div>
  
    

    <div class="main">
    <h1>Thanks for choosing us {{.Username}} . Enjoy Shopping</h1>
    </div>

    <div class='cheat'><a href="Login.html">Login to continue</a></div>


    <div class="copyright">
      <p>Copyright 2021</p> 
      <a href="https://www.facebook.com"> <img src="../static/images/fb.png" /></a> 
      <a href="https://www.instagram.com"><img src="../static/images/insta.png" /></a>
    </div>

  </body>
  

</html>
